service: demo-watermark-shotstack

provider:
  name: aws
  runtime: nodejs10.x
  stage: demo
  region: ap-southeast-2

package:
  exclude:
    - .env
    - .env.dist
    - package.json
    - package-lock.json
    - src/app.js

functions:
  shotstack:
    handler: src/handler/shotstack/handler.submit
    description: Demo - Render watermark
    timeout: 15
    memorySize: 128
    events:
      - http:
        path: shotstack
        method: post
        cors: true
  status:
    handler: src/handler/shotstack/handler.status
    description: Demo - Watermarked video status check
    timeout: 10
    memorySize: 128
    events:
      - http:
        path: shotstack/{id}
        method: get
        cors: true
  getPresignedPostData:
    handler: src/handler/shotstack/handler.getPresignedPostData
    description: Demo - Get presigned url for asset upload
    timeout: 15
    memorySize: 128
    events:
      - http:
        path: shotstack/url
        method: post
        cors: true

plugins:
  - serverless-dotenv-plugin